<div class="row m-0">
  <div class="col-md-12 p-0">
    <div class="d-flex flex-column align-items-center">
      <% @posts.each do |post| %>
        <div class="d-flex flex-column m-3">
          <p><%= post.user.first_name %></p>
          <p><%= post.title %></p>
          <p><%= post.content %></p>
        <%= link_to 'Mostrar mais', post_path(post.id), class: "btn btn-outline-warning shadow-sm" %>
        </div>
      <% end %>

      <%= link_to 'Criar novo post', new_post_path, class: "btn btn-outline-warning shadow-sm" %>
    <div>
  </div>
<div>
