<div class="d-flex justify-content-center align-items-center">
  <div class="col-lg-8 col-md-10 col-sm-10 p-0">

    <%# SEARCH AND FILTER SECTION %>
    <div class="d-flex justify-content-between align-items-center mb-1">
      <%= render 'sort_p' %>
      <%= render 'search_form' %>
    </div>

    <%# POSTS SECTION %>
    <div class="d-flex flex-column">
      <% @posts.each do |post| %>
        <hr>
        <div class="d-flex align-items-center mb-2">
          <span class="avatar-post-small p-2 me-2">
            <%= post.user.first_name[0].capitalize %>
          </span>
          <p class="me-3 fst-italic user-name"><%= "#{post.user.first_name} #{post.user.last_name}" %></p>
          <i class="fa-solid fa-circle me-3 dot-post"></i>
          <p class="fst-italic user-name"><%= post.created_at.strftime("%d/%m/%Y") %></p>
        </div>
          <h5 id="title-comp"><%= truncate(post.title, length: 70) %></h5>
          <p id="text-comp"><%= truncate(post.content, length: 300) %> <%= link_to 'ver mais', post_path(post.id), class:"fst-italic"%></p>
        <div id="comments-comp">
          <p><%= post.comments.size %></p>
          <i class="fa-regular fa-comment ms-1"></i>
        </div>
      <% end %>
    </div>

    <%# POST PAGINATION %>
    <div class="pagination-container d-flex justify-content-end mt-5 mb-2">
      <%= paginate @posts, window: 2 %>
    </div>

  </div>
</div>

<%# BUTTON TO ADD NEW POST %>
<%= render 'shared/btn_add_post' %>
