
<div class="outter-div-mp">
  <div class="header-mp">
    <h6 class="fst-italic">Meus posts (<%= @posts_count %>)</h6>
    <%= render 'drop_down_form' %>
  </div>
  <% @posts.each do | post | %>
    <div class="card-mp mb-3">
      <div class="d-flex justify-content-between w-100 mb-2">
        <h6><%= link_to truncate(post.title, length: 50), post_path(post), class: "text-dark" %></h6>
        <p class="fst-italic"><%= post.created_at.strftime("%d/%m/%Y") %></p>
      </div>
      <p class="mb-2"><%= truncate(post.content, length: 200) %></p>
      <div class="d-flex w-100">
        <%= link_to edit_post_path(post) do %>
        <div><i id="edit-icon" class="fa-solid fa-pen me-3"></i></div>
        <% end %>
        <%= link_to post_path(post), data: { turbo_method: :delete, turbo_confirm: "Você tem certeza?" } do %>
          <div><i id="delete-icon" class="fa-solid fa-xmark"></i></div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="bottom-mp">
    <%= link_to 'Voltar', request.referer || root_path, class: "links-mp" %>
    <div class="pagination-container">
      <%= paginate @posts, window: 2 %>
    </div>
  </div>
</div>



<%= link_to new_post_path do %>
  <div class="add-post-btn"><i class="fa-solid fa-circle-plus fa-2xl"></i></div>
<% end %>
